body {
  margin: 0;
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  align-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
  align-self: center;
}

td, th {
  border: 1px solid #555;
  padding: 0.5rem;
  text-align: center;
  text-decoration-color: #880000;
}

input{
  margin-left: 5px;
  margin-top: 10px;
}

button{
  margin-left: 5px;
}

